<div class="jumbotron">
  <h1 class="display-3">Welcome to Geocoding Ninja</h1>
  <p class="lead">This web application bulk geocodes addresses and prepares a CSV for download. The resulting CSV will have RDBOregon Property IDs, Latitudes, and Longitudes.</p>
  <hr class="my-4">
  <ol>
    <li>Click 'Login' in the top righthand corner to Login or Sign Up</li>
    <li>Once logged in you will be redirected to a user home page that allows you to view previous geocoding jobs and to start a new geocoding job. Enter a name for the job and click 'Create Job'.</li>
    <li>You will be sent to a page to upload the CSV. As the CSV is uploaded the addresses will be geocoded. This can take a while.</li>
    <li>When it finishes geocoding, the site will take you to the job's details page. Here you see the addresses and their latitudes/longitudes. To download the CSV click the blue button that says 'Download Geocoded CSV'.</li>
    <li>To return to your homepage at any time, click the 'Geoencode' link on the left side of the navbar. The 'Geocoding Ninja' will return you to this page.</li>
  </ol>
</div>
